@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap');

body {
    font-family: 'Playfair Display', serif;
    background-image: linear-gradient(120deg,#30475E, #F05454);
    background-attachment: fixed;
}

.header{
    text-align: center;
    font-size: 5rem;
    padding: 1rem;
}

header{
    text-shadow: 2px 1px whitesmoke;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.translators {
    margin: 2rem 8rem;
    border: 1px transparent black;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 20px 3px black;
}

.translators h2{
    color: white;
    text-align: center;
}

a{
    text-decoration: none;
}

.translators:hover {
    transform: scale(1.2);
    
}

.divimg {
    border-radius: 0.5rem;
    border: 2px solid black;
}

.shakespeare{
    background-image: linear-gradient(#4A3933, #F1CA89);
}
.shakespeare h2{
    color: #433520;
    text-shadow: 1px 1px black;
}

.minion{
    background-image: linear-gradient(#0A75BC, #FCE029);
}
.minion h2{
    color: #025955;
    text-shadow: 1px 1px whitesmoke;
}

.dothraki{
    background-image: linear-gradient(#EF4B4B, #9D9D9D);

}
.dothraki h2{
    color: #041C32;
    text-shadow: 1px 1px #F2FFE9;
}

.yoda{
    background-image: linear-gradient(#8B9A46, #CFB784);
}
.yoda h2{
    color: #146356;
    text-shadow: 1px 1px black;
}

.footer {
    text-align: center;
    margin-top: 2rem;
    font-weight: bolder;
    background-image: linear-gradient(to right,#170055, #D1E8E4);
    box-shadow: 1px 2px 3px black;
}

